@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    background-color: white;
}

.main{
    margin-top: 140px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    background-color: #f0a6b275;
}

h1 {
    font-family: 'roboto condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #282828;
    text-align: center;
}

p {
    font-family: 'roboto condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #282828;
    text-align: center;
}

.foto img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}